 <ion-view view-title="联系人">
	<ion-content>
		<div class="item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="搜索">
			</label>
		</div>
		<div class="row tabs-icon-top" style="text-align:center">
		    <div class="tab-item">
		    	<i class="icon ion-android-person"></i>
	    		新朋友
	    	</div>
		    <div class="tab-item">
				<i class="icon ion-android-people"></i>
    			群聊
			</div>
	    	<div class="tab-item">
				<i class="icon ion-android-settings"></i>
   				公众号
			</div>
		</div>
    	<div class="list">

			<a class="contacts item item-icon-left item-icon-right border-none" href="#">
				<i class="icon ion-android-arrow-dropright"></i>
				特别关心
				<i class="textRight">1/2</i>
			</a>

			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-android-arrow-dropright"></i>
				常用群聊
				<i class="textRight">3/5</i>
			</a>

			<a class="contacts item item-icon-left item-icon-right padding-a" href="">
				<i class="icon ion-android-arrow-dropright"></i>
				我的好友
				<i class="textRight">3/5</i>
				 <ion-list>
			        <a class="item item-avatar" href="#/tab/chats">
			          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
			          <h2>Venkman</h2>
			          <p>Back off, man. I'm a scientist.</p>
			        </a>

			        <a class="item item-avatar" href="#/tab/fact">
			          <img src="http://www.runoob.com/try/demo_source/spengler.jpg">
			          <h2>Egon</h2>
			          <p>We're gonna go full stream.</p>
			        </a>
			        <a class="item item-avatar" href="#/tab/fact">
			          <img src="http://www.runoob.com/try/demo_source/spengler.jpg">
			          <h2>Egon</h2>
			          <p>We're gonna go full stream.</p>
			        </a>
			        <a class="item item-avatar" href="#/tab/fact">
			          <img src="http://www.runoob.com/try/demo_source/spengler.jpg">
			          <h2>Egon</h2>
			          <p>We're gonna go full stream.</p>
			        </a>
			        <a class="item item-avatar" href="#/tab/fact">
			          <img src="http://www.runoob.com/try/demo_source/spengler.jpg">
			          <h2>Egon</h2>
			          <p>We're gonna go full stream.</p>
			        </a>
			        <a class="item item-avatar" href="#/tab/fact">
			          <img src="http://www.runoob.com/try/demo_source/spengler.jpg">
			          <h2>Egon</h2>
			          <p>We're gonna go full stream.</p>
			        </a>
     			</ion-list>
			</a>

			<a class="contacts item item-icon-left" href="#">
				<i class="icon ion-android-arrow-dropright"></i>
				老同学1
				<i class="textRight">3/5</i>
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-arrow-dropright"></i>
				老同学2
				<i class="textRight">3/5</i>
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-arrow-dropright"></i>
				老同学3
				<i class="textRight">3/5</i>
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-arrow-dropright"></i>
				老同学4
				<i class="textRight">3/5</i>
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-arrow-dropright"></i>
				老同学5
				<i class="textRight">3/5</i>
			</a>

		</div>
	</ion-content>
</ion-view>