
<ion-view view-title="消息">
	
	<ion-content>
		<ion-refresher
    pulling-text="下拉刷新..."
    on-refresh="doRefresh()">
  </ion-refresher>  
	  <div class="list">

        <a class="item item-avatar" href="#/tab/chats">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>

        <a class="item item-avatar" href="#/tab/fact">
          <img src="http://www.runoob.com/try/demo_source/spengler.jpg">
          <h2>Egon</h2>
          <p>We're gonna go full stream.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/stantz.jpg">
          <h2>Ray</h2>
          <p>Ugly little spud, isn't he?</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/winston.jpg">
          <h2>Winston</h2>
          <p>That's a big Twinkie.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/tully.jpg">
          <h2>Tully</h2>
          <p>Okay, who brought the dog?</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/barrett.jpg">
          <h2>Dana</h2>
          <p>I am The Gatekeeper!</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/slimer.jpg">
          <h2>Slimer</h2>
          <p>Boo!</p>
        </a>

      </div>

	</ion-content>
</ion-view>