
<ion-view view-title="首页">
	<ion-header-bar align-title="left" class="bar-positive">
	  <div class="buttons">
	    <button class="button" ng-click="doSomething()">左侧按钮</button>
	  </div>
	  <h1 class="title">Title!</h1>
	  <div class="buttons">
	    <button class="button">右侧按钮</button>
	  </div>
	</ion-header-bar>
	<ion-content>
	
	  <ion-list>
	    <ion-item>
	      <a href="#/tab/fact" >第一页</a>
	    </ion-item>
	    <ion-item>
	      <a href="#/tab/fact" >第2页</a>
	    </ion-item>
	    <ion-item>
	      <a href="#/tab/fact">第3页</a>
	    </ion-item>
	    <ion-item>
	      <a href="#/tab/fact">第4页</a>
	    </ion-item>
	    <ion-item>
	      <a href="#/tab/fact">第一页</a>
	    </ion-item>
	    <ion-item>
	      <a href="#/tab/fact">第一页</a>
	    </ion-item>
	    <ion-item>
	      <a href="#/tab/fact">第一页</a>
	    </ion-item>
	    <ion-item>
	      <a href="#/tab/fact">第一页</a>
	    </ion-item>
	    <ion-item>
	      <a href="#/tab/fact">第一页</a>
	    </ion-item>
	    <ion-item>
	      <a href="#/tab/fact">第一页</a>
	    </ion-item>
	  </ion-list>
	</ion-content>
</ion-view>